.label {
  font: 10px sans-serif;
  fill: white;
  text-anchor: middle;
}
.districts {
  /*fill: #bbb;*/
  stroke: #fff;
  border-width: 1px;
}
.circle {
  opacity: 0.9;
}
.grid line{
  stroke: #eee;
  opacity: 0.8;
}
#viz-container {
  margin: auto;
  padding-left: 10px
  padding-right: 10px;
  width: 100%;
  max-width: 1000px;
}

/* For tooltip */
.hidden {
  display: none;
}
#tooltip {
  background-color: #fff;
  opacity 0.9;
}

/* for table cells */
td span {
  font-weight: bold;
}

td span.party-R {
  color: #b2182b;
}
td span.party-D {
  color: #2166ac;
}

/* bar graph */
.item-label{
  font-size: 11px;
}
.domain, .tick line {
  stroke: #999;
}